

h1, h2, h3 {
    font-size: 2.1em;
    font-weight: bold;
}

ul li, a {
    font-family: cursive;
    font-size: 1em;
}

body {
    opacity: 80;
}

a {
    color: #fdb35c
}

.grey {
    color: #33313c
}
.violet {
    color: #564c6e
}
.orange {
    color: #ec781f
}
.yellow {
    color: #fdb35c
}
.green {
    color: #3e6721
}

.container {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-width: 1px;
        border-style: dotted;
        border-color: #3e6721;
        padding: 10px 40px 40px 40px;


    }